{% extends 'document_storage/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<div>
    <h1>{{ title }}</h1>
        <ul>
            <li>name = {{ doc.name }}</li>
            <li> description = {{ doc.description }} </li>

        </ul>
    <ul>
        <li ><a href = "{% url 'update_document' pk=doc.pk %}">Update document</a></li>
        <li><a href = "{% url 'versions_document' pk=doc.pk %}">Look document's versions</a></li>
        <li><a href = "{% url 'current_and_first_versions' pk=doc.pk %}">Look current and first document's versions</a></li>
        <li ><a href = "{% url 'index' %}">Main page</a></li>
    </ul>
</div>
{% endblock %}
