{% extends 'document_storage/base.html' %}


{% block content %}

<h1>Update document</h1>
    <form action="{% url 'update_document' pk=doc.pk %}" method="post">
    {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class= "alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    {% for field in form %}
     <div>
         {% if field.errors %}
        <div class = "alert alert-danger">
            <p>{{ field.errors }}</p>
        </div>
         {% endif %}

        <p>{{ field.label }}</p>
        <p>{{ field }}</p>
    </div>
    {% endfor %}
        <button type="submit" class="btn btn-primary">Update document</button>
</form>
<a href = "{% url 'index' %}">Back to the main page</a>
{% endblock %}
